services:
  app:
    image: ghcr.io/0pandadev/ziit:v1.1.1
    ports:
      - "3000:3000"
    environment:
      NUXT_DATABASE_URL: "postgresql://postgres:CHANGEME@postgres:5432/ziit" # change the password for production use
      NUXT_PASETO_KEY: "" # RUN THIS COMMAND IN YOUR TERMINAL AND USE THE OUTPUT -> echo k4.local.$(openssl rand -base64 32)
      NUXT_ADMIN_KEY: "" # This is the password for the admin dashboard. RUN THIS COMMAND IN YOUR TERMINAL AND USE THE OUTPUT -> openssl rand -hex 64
      NUXT_HOST: "" # Base URL of the Ziit instance, including protocol e.g. https://ziit.example.com
      NUXT_DISABLE_REGISTRATION: false # By default users are allowed to register a new account
      NUXT_GITHUB_CLIENT_ID: "" # client id https://docs.ziit.app/deploy/github-oauth
      NUXT_GITHUB_CLIENT_SECRET: "" # client secret https://docs.ziit.app/deploy/github-oauth
      NUXT_EPILOGUE_APP_ID: "" # application id https://docs.ziit.app/deploy/epilogue-oauth
      NUXT_EPILOGUE_APP_SECRET: "" # application secret https://docs.ziit.app/deploy/epilogue-oauth
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - ziit-network

  postgres:
    image: timescale/timescaledb-ha:pg17
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: CHANGEME # change this for production use
      POSTGRES_DB: ziit
      PGDATA: /var/lib/postgresql/data
    volumes:
      - postgres:/var/lib/postgresql/data
    post_start:
      - command: chown -R 1000:1000 /var/lib/postgresql/data
        user: root
    networks:
      ziit-network:
        aliases:
          - postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d ziit"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  postgres:

networks:
  ziit-network:
    driver: bridge
