*:not(.input):not(.layout) {
  width: fit-content;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.account-information .items {
  display: flex;
  gap: 24px;
}

.account-information .items .keys,
.steps,
.setting-description {
  color: var(--text-secondary);
}

.title {
  font-size: 18px;
  font-weight: 500;
}

.buttons,
.keys,
.values,
.steps,
.setting-group {
  display: flex;
  flex-direction: column;
}

.buttons,
.setting-group {
  gap: 8px;
}

.keys,
.values,
.steps {
  gap: 4px;
}

kbd {
  font-family: ChivoMono;
  background-color: var(--element);
  padding: 2px 6px;
}
